### supervised learning
1.Regression
- depends on continuous data
    - linear regression
        - linear regression with single variable
        - multiple variables
    - polynomial regression
        - polynomial with one feature
        - polynomial with multiple features 
2.classification
- depends on categorical data(0 or 1,true or false,pass or fail,yes or no)
- knn algorithm
- logistic regression
- decision tree
- random forest
- svm(support vector machine)

## machine learning steps
1.get the data or load the data

2.Preprocessing the data

3.define the input and ouput variables

4.apply the model or algorithm

5.pass the data to train and testing

6.calculate the score or accuracy score

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Linear Regression
- linear model is a sum weighted predicted data to target values
- y=mx+c
- y is the target value or output
- m is the slope
- c is the coefficient
- x isthe input

## slope formula
(x-xmean)*(y-ymean)/(x-xmean)^2

## coeffitient formua
c=ymean-(m*xmean)

In [52]:
# 1. getting the data
df = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/Salary_Data.csv')

In [53]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [54]:
df.shape

(30, 2)

In [55]:
# 2. preprocessing the data
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [57]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [58]:
x=df[['YearsExperience']]
y=df['Salary']

In [59]:
# apply the model
from sklearn.linear_model import LinearRegression

In [60]:
model=LinearRegression()

In [61]:
model.fit(x,y)

LinearRegression()

In [62]:
model.score(x,y)

0.9569566641435086

In [63]:
df = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Machine-Learning-Using-Python-EB8/master/Day-2/reliance.csv')

In [64]:
df

   Revenue  JioSubscribers
0     8136           160.1
1     8421           186.6
2    10023           215.3
3    11416           252.3
4    12893           280.1
5    14328           306.7
6    15741           331.3
7    16534           355.2
8    17555           370.0
9    18632           387.5

In [65]:
df.isnull().sum()

Revenue           0
JioSubscribers    0
dtype: int64

In [66]:
df.describe()

            Revenue  JioSubscribers
count     10.000000       10.000000
mean   13367.900000      284.510000
std     3784.302914       79.236235
min     8136.000000      160.100000
25%    10371.250000      224.550000
50%    13610.500000      293.400000
75%    16335.750000      349.225000
max    18632.000000      387.500000

In [68]:
x=df[['Revenue']]

In [69]:
y=df['JioSubscribers']

In [70]:
from sklearn.linear_model import LinearRegression

In [71]:
lin = LinearRegression()

In [72]:
lin.fit(x,y)

LinearRegression()

In [73]:
lin.score(x,y)

0.9920788182785107

In [37]:
from sklearn.datasets import load_boston

In [38]:
boston = load_boston()

In [39]:
df = pd.DataFrame(boston['data'])

In [41]:
df.shape

(506, 13)

In [42]:
df.columns = boston['feature_names']

In [43]:
df['target']=boston['target']

In [44]:
df.shape

(506, 14)

In [45]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
target     0
dtype: int64

In [46]:
x=df[['RM']]
y=df['target']

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
model = LinearRegression()

In [49]:
model.fit(x,y)

LinearRegression()

In [50]:
model.score(x,y)

0.48352545599133423